/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eccb5c;
    color: #da4747;
}
article {
    font-family: Arial, sans-serif;
    font-style: italic;
    padding: 20px;
    margin: 20px;  
    margin-right: 900px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

aside {
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}